.advantages {
    background: #f6f6f6;
    padding-top: 64px;
    min-height: 410px;
    .title {
        text-align: center;
    }
    .adv-icons {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 64px;
        h3 {
            text-align: center;
            margin: 0;
            margin-top: 31px;
        }
    }

    &__icon {
        display: block;
        margin: 0 auto;
    }

    
    &__descr {
        text-align: center;
        margin-top: 22px;
        font-size: 14px;
        color: rgb(13, 13, 13);
        line-height: 1.2;
        a {
            color: #ff0000;
        }
    }
}

