.form {
    width: 300px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    .input {
        display: block;
        border-radius: 5px;
        border: none;
        padding: 0 19px;
        background-color: rgb(255, 255, 255);
        height: 50px;
        margin-bottom: 15px;
        font-size: 14px;
        color: rgb(75, 75, 75);
        &::placeholder {
            font-size: 14px;
            color: rgb(75, 75, 75);
        }
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &_consultation {
        margin: 0 auto;
        margin-top: 25px;
    }
}