@import "tech/slick";

@import "base/mixins";
@import "base/vars";
@import "base/fonts";


* {
    font-family: "Museo Sans Cyrl";
    
}


.container {
    width: 940px;
    margin: 0 auto;
}
@import "blocks/extends/buttons";
@import "blocks/extends/titles";
@import "blocks/extends/forms";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modal";